/*Переменные*/
FontSize = 10px
MaxWidth = 1200px
colorBG = #f8f8f8

/*Миксины*/
alignBlock()
	margin-left auto
	margin-right auto


/*Сброс стилей браузера для конкретных блоков*/

nav,
menu,
header, body, section, a, ul, li, p, h1, h2, form, input, caption, legend, fieldset
	margin 0
	padding 0
	box-sizing border-box

body
	font-size FontSize
	background-color colorBG
	

