/** 
* файл index.styl
**/

@require '__global.styl'

@require '../__nav/__nav.styl'
@require '../__header/__header.styl'
@require '../__main/__main.styl'
@require '../__main/__main_catalog.styl'
@require '../__main/__main_tovar.styl'
@require '../__contact/__contact.styl'
@require '../__footer/__footer.styl'