/** 
* файл index.styl
**/
nav,
menu,
header,
body,
section,
a,
ul,
li,
p,
h1,
h2,
form,
input,
caption,
legend,
fieldset
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-size: 10px;

    background-color: #f8f8f8;
}
.nav
{
    position: -webkit-sticky;
    position:         sticky;
    top: 0;

    width: 100%;
    padding: 10px 0;

    background-color: #ccc;
}
.nav__wrapp
{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.nav__menu
{
    font-size: 1.5rem;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style: none;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.nav__menu-item:not(:last-child)
{
    margin-right: 10px;
}
.nav__menu-link
{
    text-decoration: none;

    color: #000;
}
.nav__menu-link:hover
{
    text-decoration: underline;
}
.nav__menu-link:hover + .nav__submenu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav__submenu
{
    position: absolute;
    top: 25px;
    left: 80px;

    display: none;
        flex-direction: column;

    margin-left: 10px;
    padding: 5px;

    border-top: 1px solid #000;
    background-color: #ccc;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.nav__submenu:hover
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header
{
    width: 100%;

    border-bottom: 2px solid #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), color-stop(62%, #fcfcfc), color-stop(66%, #fff));
    background: linear-gradient(to bottom, #ccc 0%, #fcfcfc 62%, #fff 66%);
}
.header__wrapp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__image
{
    height: 100px;
}
.header__head
{
    font-size: 2.5rem;
}
.main
{
    width: 100%;

    border-bottom: 2px solid #000;
}
.main__wrapp
{
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.main_index-head
{
    font-size: 2rem;

    text-align: center;
}
.main_index-text
{
    font-size: 1.3rem;
}
.main_catalog-wrapp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1200px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.main_catalog-image
{
    border: 3px solid #ccc;
    border-radius: 10px;
}
.main_catalog-link:hover > .main_catalog-image
{
    border: 3px solid #000;
}
.main_catalog-head
{
    font-size: 2em;
}
.main_catalog-description
{
    font-size: 1.3em;

    padding-top: 5px;
}
.main_tovar-head
{
    font-size: 2.5em;

    margin-top: 5px;
    margin-bottom: 5px;
}
.main_tovar-info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.main_tovar-link
{
    margin-right: 10px;

    border: 5px solid #ccc;
    border-radius: 10px;
}
.main_tovar-link:hover
{
    border-color: #000;
}
.main_tovar-description
{
    font-size: 1.4em;
}
.main_tovar-secondHead
{
    font-size: 1.7em;
    font-style: italic;
}
.main_tovar-text
{
    font-size: 1.4em;
}
.main_tovar-character
{
    font-size: 1.3em;

    width: 40%;

    border-collapse: collapse;
}
.main_tovar-character thead
{
    font-size: 1.2em;
    font-weight: bold;

    text-align: center;

    background-color: #f00;
}
.main_tovar-character thead tr th
{
    border: 1px solid #000;
}
.main_tovar-character tbody tr:nth-child(odd)
{
    background-color: #ccc;
}
.main_tovar-character tbody tr td
{
    border: 1px solid #000;
}
.main_tovar-infoPeaple
{
    font-size: 1.3em;

    width: 40%;

    border-collapse: collapse;
}
.main_tovar-infoPeaple caption
{
    text-align: right;
}
.main_tovar-infoPeaple thead
{
    font-size: 1.2em;
    font-weight: bold;

    text-align: center;

    background-color: #f00;
}
.main_tovar-infoPeaple thead tr th
{
    border: 1px solid #000;
}
.main_tovar-infoPeaple td
{
    font-size: 1.1em;

    border: 1px solid #000;
}
.main_tovar-headSecond
{
    font-size: 1.5em;
    font-weight: 400;

    color: #000;
    background-color: #eaeaea;
}
.main_tovar-shortDescription
{
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

    color: #707070;
}
.main_tovar-text
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #484343;
}
.main_tovar-list
{
    margin-left: 20px;

    list-style-type: circle;
}
.contact__wrapp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row-reverse;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.contact__form
{
    font-size: 1.4em;

    width: 400px;
}
.contact__form-fild
{
    padding: 5px;
}
.contact__form-input
{
    position: relative;

    width: 100%;
}
.contact__form-message
{
    font-size: 1.2em;

    width: 90%;
    height: 100px;
}
.contact__form-legend,
.contact__form-label,
.contact__form-input
{
    font-size: 1.2em;
}
.contact__form-group
{
    position: relative;
}
.contact__form-place
{
    position: absolute;
    top: 2px;
    right: 0;

    display: none;

    color: #808080;
}
.contact__form-input:focus + .contact__form-place,
.contact__form-message:focus + .contact__form-place
{
    display: block;
}
.contact__form-button
{
    padding: 5px;

    cursor: pointer;
    -webkit-transition: .7s;
            transition: .7s;

    border: 2px solid #696969;
    background-color: #ccc;
}
.contact__form-button:hover
{
    -webkit-transition: .7s;
            transition: .7s;

    color: #fff;
    border: 2px solid #ccc;
    background-color: #696969;
}
.contact__head
{
    font-size: 3em;
}
.contact__label
{
    font-size: 2em;
}
.contact__text
{
    font-size: 1.8em;
}
.footer
{
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), color-stop(62%, #fcfcfc), color-stop(66%, #fff));
    background: linear-gradient(to top, #ccc 0%, #fcfcfc 62%, #fff 66%);
}
.footer__wrapp
{
    font-size: 1.2em;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0;
}
