nav.primary-nav
    menu.primary-nav__menu
        li.primary-nav__item
            a(href="#").primary-nav__link Главная
        li.primary-nav__item
            a(href="#").primary-nav__link Обо мне
        li.primary-nav__item
            a(href="#").primary-nav__link Плюсы
        li.primary-nav__item
            a(href="#").primary-nav__link Работы
        li.primary-nav__item
            a(href="#").primary-nav__link Отзывы
        li.primary-nav__item
            a(href="#").primary-nav__link Заказть сейчас
        li.primary-nav__item
            a(href="#").primary-nav__link Контакты
