section.pluses
    .pluses__wrapp
        h2.pluses__head Dignity and pluses product
        ul.pluses__list
            li.pluses__list-item
                p.pluses__list-description
                    | Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam.
                    | Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.
            li.pluses__list-item
                p.pluses__list-description
                    | Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam.
                    | Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.
            li.pluses__list-item
                p.pluses__list-description
                    | Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam.
                    | Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.
            li.pluses__list-item
                p.pluses__list-description
                    | Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam.
                    | Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.
            li.pluses__list-item
                p.pluses__list-description
                    | Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam.
                    | Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.
            li.pluses__list-item
                p.pluses__list-description
                    | Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam.
                    | Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.
