.footer
  background linear-gradient(to top, rgba(204,204,204,1) 0%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 66%)
  &__wrapp
    max-width MaxWidth
    alignBlock()
    font-size 1.2em
    padding 10px 0