section.works
    .works__wrapp
        h2.works__head My Works
        article.works__element
            img(src="images/works__image.jpg" alt="Name").works__element-image
            h3.works__element-head The description for the image
            p.works__element-description
                |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
                |exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
                |Sequi itaque, unde perferendis nemo debitis dolor.
        article.works__element
            img(src="images/works__image.jpg" alt="Name").works__element-image
            h3.works__element-head The description for the image
            p.works__element-description
                |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
                |exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
                |Sequi itaque, unde perferendis nemo debitis dolor.
        article.works__element
            img(src="images/works__image.jpg" alt="Name").works__element-image
            h3.works__element-head The description for the image
            p.works__element-description
                |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
                |exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
                |Sequi itaque, unde perferendis nemo debitis dolor.
        article.works__element
            img(src="images/works__image.jpg" alt="Name").works__element-image
            h3.works__element-head The description for the image
            p.works__element-description
                |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
                |exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores.
                |Sequi itaque, unde perferendis nemo debitis dolor.
