section.about
    .about__wrapp
        h2.about__head Заголовок секции
        article.about__info
            h3.about__info-head About your product
            p.about__first-text
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at.
                |Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt
                |in quam sapiente ut ipsum.
            p.about__second-text
                | Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
                |exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi
                |dolores. Sequi itaque, unde perferendis nemo debitis dolor.
        img(src="images/about__foto.jpg" alt="I am").about__foto