header.header
    .header__wrapp
        article.header__info
            h1.header__head Product name
            ul.header__list
                li.header__list-item
                    p.header__list-description Put on this page information about your product
                li.header__list-item
                    p.header__list-description A detailed description of your product
                li.header__list-item
                    p.header__list-description Tell us about the advantages and merits
                li.header__list-item
                    p.header__list-description Associate the page with the payment system
        img(src="images/header__foto.jpg" alt="Foto").header__foto