section.reviews
    .reviews__wrapp
        h2.reviews__head Reviews
        article.reviews__element
            h3.reviews__element-head  Отзыв № ...
            img.reviews__element-foto(src="images/reviews__foto.png" alt="foto")
            .reviews__element-message
                p.reviews__element-text
                    |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                    |ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.
                span.reviews__element-name Lourens S
        article.reviews__element
            h3.reviews__element-head  Отзыв № ...
            img.reviews__element-foto(src="images/reviews__foto.png" alt="foto")
            .reviews__element-message
                p.reviews__element-text
                    |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                    |ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.
                span.reviews__element-name Lourens S
        article.reviews__element
            h3.reviews__element-head  Отзыв № ...
            img.reviews__element-foto(src="images/reviews__foto.png" alt="foto")
            .reviews__element-message
                p.reviews__element-text
                    |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                    |ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.
                span.reviews__element-name Lourens S
        article.reviews__element
            h3.reviews__element-head  Отзыв № ...
            img.reviews__element-foto(src="images/reviews__foto.png" alt="foto")
            .reviews__element-message
                p.reviews__element-text
                    |Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem
                    |ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.
                span.reviews__element-name Lourens S
