.nav
  width 100vw
  border-bottom 1px solid #000
  padding 10px 0
  &__wrapp
    max-width MaxWidth
    alignBlock()
  &__menu
    list-style none
    &-item:not(:last-child)
      margin-right 10px
    &-link
      color #000
      text-decoration none
  &__submenu
    margin-left 10px
