nav.nav
    div.nav__wrapp
        menu.nav__menu
            li.nav__menu-item
                a.nav__menu-link(href="index.html") Главная
            li.nav__menu-item
                a.nav__menu-link(href="catalog.html") Каталог
                ul.nav__menu.nav__submenu
                    li.nav__menu-item
                        a.nav__menu-link(href="broccoli.html") Капуста брокколи
                    li.nav__menu-item
                        a.nav__menu-link(href="cvetnaya.html") Цветная капуста
                    li.nav__menu-item
                        a.nav__menu-link(href="belokachan.html") Капуста белокачанная
            li.nav__menu-item
                a.nav__menu-link(href="contact.html") Контакты