@font-face
  font-family: 'Web font'
  src: url('webfont.woff2') format('woff2'),
          url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */
          url('webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family 'Web font'
  src: url('webfont.woff2') format('woff2'),
          url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */
          url('webfont.woff') format('woff')
  font-weight normal
  font-style italic

