doctype html
html(lang="ru")
	include ../head/head.pug
	body
		include ../__nav/__nav
		include ../__header/__header
		include ../__about/__about
		include ../__pluses/__pluses
		include ../__works/__works
		include ../__reviews/__reviews
