.main
  width 100%
  border-bottom 2px solid #000
  &__wrapp
    max-width MaxWidth
    alignBlock()
    margin-bottom 10px
  &_index
    &-head
      font-size 2rem
      text-align center
    &-text
      font-size 1.3rem
