.main_catalog-item
    h2.main_catalog-head Капуста брокколи
    a.main_catalog-link(href="broccoli.html")
        img.main_catalog-image(src="images/tov2.jpg" alt="Капуста брокколи" title="Капуста брокколи")
    p.main_catalog-description Небольшое описание
.main_catalog-item
    h2.main_catalog-head Капуста цветная
    a.main_catalog-link(href="cvetnaya.html")
        img.main_catalog-image(src="images/tov1.jpg" alt="Капуста брокколи" title="Капуста брокколи")
    p.main_catalog-description Небольшое описание
.main_catalog-item
    h2.main_catalog-head Капуста белокачанная
    a.main_catalog-link(href="belokachan.html")
        img.main_catalog-image(src="images/tov3.jpg" alt="Капуста брокколи" title="Капуста брокколи")
    p.main_catalog-description Небольшое описание
