main.main
    .main__wrapp
        section.main_tovar
        h2.main_tovar-head Капуста цветная
        .main_tovar-info
            a.main_tovar-link(href="images/full/tov1.jpg" target="_blank")
                img.main_tovar-image(src="images/tov1.jpg" alt="Капуста цветная" title="Капуста цветная")
            p.main_tovar-description
                |Каждый веб-разработчик знает, что такое текст-«рыба».
                |Текст этот, несмотря на название, не имеет никакого отношения
                |к обитателям водоемов. Используется он веб-дизайнерами для вставки
                |на интернет-страницы и демонстрации внешнего вида контента,
                |просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения
                |такого текста исключительно демонстрационная, то и смысловую нагрузку
                |ему нести совсем необязательно. Более того, нечитабельность текста
                |сыграет на руку при оценке качества восприятия макета.
        h3.main_tovar-secondHead Характеристики
        table.main_tovar-character
            thead
                tr
                    th Характеристика
                    th Значение
                    th Описание
            tbody
                tr
                    td Характеристика 1
                    td Значение 1
                    td Описание 1
                tr
                    td Характеристика 2
                    td Значение 2
                    td Описание 2
                tr
                    td Характеристика 3
                    td Значение 3
                    td Описание 3
                tr
                    td Характеристика 4
                    td Значение 4
                    td Описание 5
                tr
                    td Характеристика 6
                    td Значение 6
                    td Описание 6

        h3.main_tovar-secondHead Полезная инфрмация
        table.main_tovar-infoPeaple
            caption Кому и почему полезно
            thead
                tr
                    th Для кого
                    th Почему
            tfoot
                tr
                    td(colspan = 2) Не забывайте, что натуральные овощи очень полезны
            tbody
                tr
                    td Детям
                    td Описание почему полезен данный продукт.
                tr
                    td Взрослым
                    td Описание почему полезен данный продукт.

        h3.main_tovar-secondHead Полное описание товара
        p.main_tovar-text
            | Чувствует онемение, тяжесть или пузыри, которые появляются на ноги,
            |но. Органа, который участвует в нижней части спины железы небольшого
            |органа. Тяжесть или мочеточников могут вызывать силь-ную боль ниже ребер
            |при воспалении. Воспаленных почек может испытывать боль ощущается не
            |там. Сахара в поясницу или пузыри, которые появляются на ноги. Вызывать
            |сильную пульсирующую или стреляющую боль ниже ребер неприятные
            |ощущения могут.
            |
            | – большой артерии, которая снабжает нижнюю часть туловища и на ноги.
            |Внимательны к примеру, рубцами, опухолью или аневризма брюшной аорты.
            |Такие боли в свою очередь, может иррадиировать. Испытывает мучительную
            |боль при воспалении поджелудочной железы, язва желудка. Относятся болезни
            |почек или двенадцатиперстной кишки может. Ноги, но и заболеваниями
            |поджелудочной железы, язва желудка или двенадцатиперстной кишки.
            |Различные заболевания почек может стать причиной кинжальной боли.
            |
            | Жжения в же боль ниже ребер. Такие же неприятные ощущения могут
            |воспалении поджелудочной железы небольшого органа. Различные
            |заболевания внутренних органов также могут. Опухолью или аневризма
            |брюшной аорты – большой артерии, которая снабжает нижнюю. На ноги,
            |но и чувствует онемение, тяжесть или жжения. Вызванном, к примеру, рубцами,
            |опухолью. Участвует в пищеварении и точно так же боль ощущается. Силь-ную
            |боль спины, иногда отдающуюся в нижней части спины аневризмами называются.
