.header
  width 100%
  border-bottom 2px solid #000
  background linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 66%)
  &__wrapp
    max-width MaxWidth
    alignBlock()
    display flex
    justify-content space-between
    align-items center
    padding-top 5px
  &__image
    height 100px
  &__head
    font-size 2.5rem